@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --my-luca-color: #29b100;
  --my-milou-color: #0ef706dc;
}

.btn {
  width: 100%;
}

#progress-luca {
  background-color: var(--my-luca-color);
}

#progress-milou {
  background-color: var(--my-milou-color);
}

.progress-bar {
  opacity: 0.7;
  transition: width 0.5s ease-in-out;
  z-index: 10;
}

.task-indicator-container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
}
/* Task indicators styling */
.task-indicator {
  height: 100%;
  flex-grow: 1;
  border-radius: 5px;
  border: 1px solid currentColor;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  ;
  background-color: transparent;
  opacity: 0.5;
}


.btn-luca {
  border-color: var(--my-luca-color);
  color: var(--my-luca-color);
}

.btn-luca.active {
  background-color: var(--my-luca-color);
  border-color: var(--my-luca-color);
}

.btn-luca:hover {
  background-color: var(--my-luca-color);
}

.btn-milou {
  border-color: var(--my-milou-color);
  color: var(--my-milou-color);
}

.btn-milou.active {
  background-color: var(--my-milou-color);
  border-color: var(--my-milou-color);
}

.btn-milou:hover {
  background-color: var(--my-milou-color);
}

/* Add this CSS to your stylesheet */
.general-task {
  transition: all 0.3s ease-in-out;
}

.general-task.active {
  transform: scale(1.05);
}



body {
  position: relative;
}

/* Reset control: flow normally on small screens, position absolute on md and larger */
.main-buttons-control {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border: black 1px solid;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  background-color: white;
}

@media (min-width: 768px) {
  .main-buttons-control {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    z-index: 20;
  }
}
