@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --my-luca-color: #29b100;
  --my-milou-color: #0ef706dc;
}


/* Add this CSS to your stylesheet */
.general-task {
  transition: all 0.3s ease-in-out;
}

.general-task.active {
  transform: scale(1.05);
}

body {
  position: relative;
}

/* Reset control: flow normally on small screens, position absolute on md and larger */
.main-buttons-control {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border: black 1px solid;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  background-color: white;
}

@media (min-width: 768px) {
  .main-buttons-control {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    z-index: 20;
  }
}
